<h1>Bienvenidos a mi blog!!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% [1, 2, 3, 4].each do |number| %>
    <p>Numero: <%= number * 2 %></p>
<% end %>
<%= mundo = "Rodrigo" %>
<%="Hola #{mundo}" %>
